<h1>New message</h1>

<!-- Conditional logic to check for @original -->
<!-- If @original exits, render a partial to show it -->
<!-- Else don't show partial -->

<%= render 'form' %><br>

<%= link_to 'Back', messages_path %>
