<%= form_for(@role) do |f| %>


<%if current_user.role !='premium'%>
<h3>By upgrading your profile to Premium you will be able to send and receive messages bla bla </h3>

<div class="actions">
  <%= f.submit 'Upgrade to Premium'%>
</div>


<%elsif%>
<h3>By terminating your premium account you will not be able to send or receive messages bla bla </h3>

<div class="actions">
  <%= f.submit 'Terminate Premium'%>
</div>

<%else%>
<% end %>
<% end %>
