<%= form_for(@role) do |f| %>

  <%if current_user.role !='premium'%>
    <h3>By upgrading your account to Premium you will be able to send and receive messages</h3>

    <div class="actions">
    <%= f.submit 'Upgrade to Premium'%>
    </div>

  <%elsif%>
    <h3>By downgrading to a basic account you will not be able to send or receive messages anymore</h3>

  <div class="actions">
    <%= f.submit 'Downgrade to Basic'%>
  </div>

  <%else%>
  <% end %>
<% end %>
