<h1>Listing views</h1>

<table>
  <tr>
    <th>People I visited</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @views.each do |view| %>
  <tr>
    <td><%= view.viewed.name %></td>
    <td><%= link_to 'Show', @view %></td>
    <td><%= link_to 'Delete', @view, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= paginate @views %>

<br />

