/*
========================================
Main Page
========================================
*/

html{
  box-sizing:border-box;
  height:100%;
  font-family:'Raleway';
}

body {
  height:100%;
  width:100%;
  background-image: url('');
  background-color:grey;
  background-size: cover;
  width:100%;
}

.logo {
  width:50px;
  height: 50px;
  border-color: #0099CC
}

.title {
  font-family:"Monofett";
  font-size:60px
}

div#wrapper {
  min-width: 1000px;
  margin: 0 auto;
  position:relative;
}

div#main {
  width: 960px;
  margin: 0 auto;
  padding: 100px 0;
}

.login_message{
  margin-left: 700px
}

/*
========================================
Nav
========================================
*/
.top-nav {
  background-color:#0099CC;
  padding:10px 0;
  min-width: 10000px;
  border-bottom: 3px solid black;
  position: fixed;
}
.top-nav ul {
  list-style-type:none;
  margin:0;
}
.top-nav ul li {
  display:inline-block;
  position:relative;
}

.top-nav li ul {    
  background-color:#0099CC;
  position:absolute;
  left:0;
  top:40px;
  width:200px;
  border-radius:10px
}
.top-nav li li {
  position:relative;
  margin:0;
  display:block;
}
.top-nav li li ul {
  position:absolute;
  top:0;
  left:200px;
  margin:0;

}

.top-nav a {
  line-height:40px;
  padding:0 12px;
  margin:0 12px;
  color:#fff;
  text-decoration:none;
  display:inline;

}

.top-nav a:hover,
.top-nav a:focus,
.top-nav a:active {
  color:rgb(50,50,50);
}

.top-nav li li a {
  border-bottom:solid 1px white;
  margin:0 10px;
  padding:0;

}
.top-nav li li:last-child a {
  border-bottom:none;
}


.top-nav li.dropdown > a {
  background-repeat:no-repeat;
}

.top-nav li li.dropdown > a {
  background-position:right 16px;
  background-repeat:no-repeat;
}

ul.sub-menu {
  display:none;
}

/*
========================================
Footer
========================================
*/
footer {
  min-width: 1000px;
  border-top: 3px solid black ;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #0099CC;
}

footer li {
  display:inline;
  padding :25px;
}


img {
  width: 250px;
  height: 250px;
  border: 1px solid #6B1229;
  margin:10px;
  border-radius: 5px

}

.search_image{
  display:inline-block;
}

#image_name div{
  font-size: 30px;
}

.hidden {
  display:none
}


.inbox, th, td, tr {
   border: 1px solid black;
}

.inbox, table {
  width: 100%;
}

/*
========================================
Profile Page
========================================
*/

.profile_list {
  display:block;
  border: 3px solid white;
  border-radius:5px;
  width:662px;
  margin-left:10px;
  background-color: #BDDEFF

}

.profile_image {
  float:left
}

.profile_role {
  text-align:right;
  margin-right:32px
}

.profile_name {
  padding-top: 1px;
  margin-right:32px
}
.profile_top_wrapper {
  clear:both;
  height:280px;
  width:700px;
}

.profile_right_menu {
  padding-top:0.01px;
  ul li{
    list-style-type: none;
    a{
      text-decoration: none;
    }
  }
}

.profile_button_messages {
  padding: 10px;
  border-radius: 5px
}

.about_me {
  border: 3px solid white;
  border-radius:5px; 
  background-color: #BDDEFF;
  width:400px;
  height:120px;
  float:left;
  padding-top:8px;
  p{
    padding-left: 5px;
  }
}
.profile_table td:nth-child(1){
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 60px;
  font-weight: bold;
}

.profile_table td:nth-child(2){
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  border-left: 1px solid white;
}


/*
========================================
Edit Page
========================================
*/

textarea#user_about_me {
  border: 3px solid #BDDEFF;
  border-radius:5px; 
  background-color: white;
  width:400px;
  height:120px;
  float:left;
  padding-top:8px;
  p{
    padding-left: 5px;
  }
}

.edit_right_menu  h2 input {
border:3px solid #BDDEFF 
}

input {
  display:block;
  border: 3px solid #BDDEFF;
  border-radius:10px;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:5px;
  margin-top:10px;
  background:white
}

.edit_left_list {
  display: inline-block;
  
  ul li{ display:block;
   border: 3px solid #BDDEFF;
   border-radius:10px;
   background: white; 
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left:5px;
   padding-right:120px;
   margin-top:10px
 }
}

.edit_right_list {
  display: inline-block;
  ul {
    margin-top: 0;
    list-style-type: none;
    input {
      width: 100%;
    }
  }
}

.edit_top_wrapper {
  clear:both;
  height:280px;
  width:700px;
}

.edit_image {
  float:left;
  margin-left: 18px
}

.select option{
  height:50px
}

/*
========================================
Search Page
========================================
*/

#open_search_button {
  margin-left: 700px
}

#close_search_button {
  margin-left: 700px
}


.pagination {
  color: black;
  // background-color: white;
}




