html{
  box-sizing:border-box;
  height:100%;
}

body {
  height:100%;
  width:100%;
}

div#wrapper {
  min-width: 1000px;
  margin: 0 auto;
  position:relative;
}

div#main {
  width: 960px;
  margin: 0 auto;
  padding: 100px 0;
}

nav {
  min-width: 10000px;
  border-bottom: 3px solid black;
  position: fixed;
  background: orange;
}

nav ul li {
  display: inline;
}

footer {
  min-width: 1000px;
  border-top: 3px solid black ;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: orange;
}

footer li {
  display:inline;
  padding :25px;
}

img {
  width: 250px;
  height: 250px;
  border: 1px solid #6B1229;
  margin:10px;
  border-radius: 5px

}

.search_image{
  display:inline-block;
}

#image_name div{
  font-size: 30px;
}

.hidden {
  display:none
}



.profile_right_list {
  display: inline-block;


  ul li{
    display:block;
    border: 1px solid black;
    border-radius:20px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:5px;
    padding-right:120px;
    margin-top:10px
  }

}

.profile_left_list {
  display: inline-block;
  
  ul li{ display:block;
   border: 1px solid black;
   border-radius:20px; 
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left:5px;
   padding-right:120px;
   margin-top:10px
 }
}


